<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/ico" href="" />
        <title>{% block titulo %} {% endblock %}</title>
        {% block stylesheets %} {% endblock %}
    </head>
    <body>
        {% block contenido %}{% endblock %}

        {% block scripts %} {% endblock %}
    </body>
</html>