{% extends 'menus.html.twig' %}
{% block title %}Interoleo gestión | Listado de usuarios{% endblock %}
{% block content %}
    <h3 class="page-title">
        Listado de usuarios <small>Interoleo gestión</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/listar_usuario">Listado de usuarios</a>
            </li>
        </ul>
    </div>
{% endblock %}