{% extends 'menus.html.twig' %}

{% block content %}
    <h3 class="page-title">
        Nueva notificación <small>Interoleo gestión</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/listar_contrato">Nueva notificacion</a>
            </li>
        </ul>
    </div>

    <select id="contratos">
        {% for contrato in contratos %}
            <option value="{{ contrato.id }}">{{ contrato.referencia }}</option>
        {% endfor %}
    </select>
    <select id="cosa">
        <option value="0">Selecciona un contrato</option>
    </select>

    <select id="cisternas">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <div id="inputs">

    </div>
{% endblock %}